<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rg.maac.talkto">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Depression"
            android:label="@string/title_activity_depression"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PTSD"
            android:label="@string/title_activity_ptsd"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Suicidal"
            android:label="@string/title_activity_suicidal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Cancer"
            android:label="@string/title_activity_cancer"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Terminal"
            android:label="@string/title_activity_terminal"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Loss"
            android:label="@string/title_activity_loss"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Other"
            android:label="@string/title_activity_other"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Menu"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SuicidalChat"
            android:label="@string/title_activity_suicidal_chat"
            android:theme="@style/AppTheme" />
        <activity android:name=".TerminalChat" />
        <activity
            android:name=".CancerChat"
            android:label="@string/title_activity_cancer_chat"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DepressionChat"
            android:label="@string/title_activity_depression_chat"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LossChat"
            android:label="@string/title_activity_loss_chat"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".OtherChat"
            android:label="@string/title_activity_other_chat"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PTSDChat"
            android:label="@string/title_activity_ptsdchat"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DepressinChat"
            android:label="@string/title_activity_depressin_chat"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme" />
    </application>

</manifest>